.singleSeparator {
  border-bottom: 1px solid black;
  margin-top: 37px;
  margin-bottom: 20px;
}
.auction {
  input {
    width: 100%;
  }

  .inputAndButton {
    display: flex;
    margin-top: 10px;
    input {
      margin-right: 12px;
      width: 187px;
    }
    div {
      margin-top: 0;
      flex-shrink: 0;
      max-width: initial;
      flex-grow: 1;
      text-align: center;
    }
  }

  .bidError {
    position: absolute;
    width: 325px;
    height: 142px;
    background-color: white;
    border: 1px solid #000000;
    box-shadow: 2px 2px 0px #000000;
    padding: 13px 16px;
    left: 45px;
    top: 85px;

    .singleSeparator {
      margin-top: 7px;
      margin-bottom: 30px;
    }

    svg {
      cursor: pointer;
    }
  }
}
