html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
  height: 100%;

  font-size: 20px;
  line-height: 23px;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slider {
  margin-top: 30px;
}

.sliderTrack {
  top: 8px;
  height: 2px;
  background: #d9d9d9;
  cursor: pointer;
}

.sliderTrack-0 {
  background: black;
}

.sliderThumb {
  cursor: pointer;
  /*color for the thumb */
  background: black;
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}
