.gridWrapper {
  width: 100%;
  position: absolute;

  .refresh {
    position: absolute;
    right: 0;
    bottom: -73px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;

    img {
      width: 18px;
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }

  &.viewerOnly {
    pointer-events: none;
  }

  .currentlyColoringMessage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid {
    position: relative;
    width: 100%;
    line-height: 0;

    .pixelWrapper {
      display: inline-block;

      &:hover {
        border: 1px solid black;
      }

      .pixel {
        position: relative;
        padding-bottom: 100%;

        .whiteOverlay {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
        }

        .questionMark {
          font-size: 13px;
          font-weight: 300;
          font-family: "Arial";
          position: absolute;
          text-align: center;
          left: 2.5px;
          top: 7px;
        }
      }
    }
  }
}
