.gridWrapper {
  width: 100%;
  position: absolute;

  .grid {
    position: relative;
    width: 100%;
    line-height: 0;

    .pixelWrapper {
      display: inline-block;

      &.pointer {
        cursor: pointer;
      }

      &.pixelOwned {
        border: 1px dashed #000000;

        &.pixelCommitted {
          border: 1px solid #000000;
        }
      }

      .pixel {
        position: relative;
        padding-bottom: 100%;
        &:hover {
          filter: brightness(150%);
        }

        .questionMark {
          font-size: 14px;
          font-weight: 400;
          font-family: "Arial";
          position: absolute;
          text-align: center;
          left: 3px;
          top: 8px;
        }
      }
    }
  }
}
