.regenesisBanner {
  background-color: #ff4848;
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
  text-align: center;

  color: #ffffff;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
