.scrollingText {
  position: absolute !important;
  width: 100% !important;
  bottom: 0px !important;
  left: 0px !important;
  background-color: white;
}

.marquee {
  font-style: italic;
  font-weight: 700;
  font-size: 44px;
  line-height: 74px;
}

.separator {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: black;
  margin-top: 15px;
}

.small {
  &.scrollingText {
    position: relative !important;
  }
  .marquee {
    font-weight: 400;
    font-size: 50px;
    font-style: italic;
    line-height: 57px;
  }
  .separator {
    margin-top: 0;
    margin-bottom: 5px;
  }
}
