.StarknetCC {
  background-image: url(/background.jpg);
  background-size: cover;
  display: flex;
  height: 100%;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  .message {
    text-align: center;
    padding: 0px 60px;
    font-size: 18px;
  }

  a {
    img {
      margin-bottom: 5px;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
