.top {
  display: flex;
  line-height: 23px;
  padding-bottom: 10px;
  padding-right: 25px;
  position: relative;
  height: 36px;

  .topElement {
    &:first-child {
      margin-left: auto;
    }
    margin-right: 59px;
    padding-bottom: 3px;
    max-width: 250px;

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    :global(.clickable):hover {
      cursor: pointer;
      padding-bottom: 3px;
      border-bottom: 2px solid black;
    }
  }

  &.topWhite {
    color: white;

    .topElement {
      :global(.clickable):hover {
        border-bottom: 2px solid white;
      }
    }
  }
}
