.top {
  display: flex;
  line-height: 23px;
  padding-bottom: 10px;
  padding-right: 25px;
  position: relative;
  height: 36px;

  .logo {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .wrongNetworkMessage {
    position: absolute;
    right: 25px;
    text-align: right;
    top: 50px;
    width: 135px;
  }

  .topElement {
    margin-right: 28px;
    padding-bottom: 3px;
    max-width: 250px;

    :global(.clickable):hover {
      cursor: pointer;
      padding-bottom: 3px;
      border-bottom: 2px solid black;
    }
  }

  &.topWhite {
    color: white;

    .topElement {
      :global(.clickable):hover {
        border-bottom: 2px solid white;
      }
    }
  }
}
